@import url(https://fonts.googleapis.com/css?family=Oswald:400);

/*Header css*/

#header
{
    text-align: center;
}

#header #headerh1
{
    background-color: aquamarine;
    display: inline;
    color: #111;
}

/*index.html css */
.indexH1
{
    color: aquamarine;
}

/*NavigationBar css*/

#NavBar
{
    background: #333;
    width: 100%;
    display: inline-block;
    color: white;
}

#NavBar a /*Links*/
{
    display: block;
    color: white;
    text-align: center;
    padding: 8px 8px;
    text-decoration: none;
    /*border-right: 1px solid #bbb;*/
}
#NavBar a:hover
{
    background-color: #111;
}

#NavBar a:active {
    background-color: #4CAF50;
}

#NavBar #site
{
    float: left;
    text-align: left;
}

#NavBar #user
{
    float: right;
    text-align: right;
}

#NavBar #user form button
{
    border: solid black 1px;
    padding: 8px 8px;
}

/*Footer css*/

#footerLink
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
}

/*Other css*/
body
{
    font-family: 'Oswald', sans-serif;
}