@import url(https://fonts.googleapis.com/css?family=Oswald:400);

/*Header css*/

#header
{
    text-align: center;
}

#header #headerh1
{
    background-color: aquamarine;
    display: inline;
    color: #111;
}

/*index.html css */
.indexH1
{
    color: aquamarine;
}

/*NavigationBar css*/

#NavBar
{
    background: #333;
    width: 100%;
    display: inline-block;
    color: white;
}

#NavBar a /*Links*/
{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 8px 8px;
    text-decoration: none;
    /*border-right: 1px solid #bbb;*/
}
#NavBar a:hover
{
    background-color: #111;
}

#NavBar a:active {
    background-color: #4CAF50;
}

#NavBar #site
{
    float: left;
    text-align: left;
}

#NavBar #user
{
    float: right;
    text-align: right;
}
.userLink
{
    border-right: 5px solid #bbb;
}

#NavBar #user form /*logoutform*/
{
    padding-top: 7.5%;
    float: right;
    display: inline-block;
}

/*Footer css*/

#footerLink
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
}

/*Other css*/
html, body
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}
button
{
    font-family: inherit;
    font-size: small;
    text-align: center;
}